* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Lexend", sans-serif;
  text-transform: uppercase;
}

:root {
  --midnight-blue: #272757fc;
  --white: #fff;
  --small-font: 1.5rem;
  --normal-font: 2rem;
  --medium-font: 2.4rem;
  --big-font: 6.7rem;
  --bold-font: 600;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--midnight-blue);
  color: var(--white);
  font-weight: var(--bold-font);
}

a {
  color: var(--white);
}

header {
  position: absolute;
  width: 100%;
  height: 7.7rem;
  display: flex;
  z-index: 2;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 4.7rem;
}

.nav-title {
  width: 50%;
}

h1 {
  font-size: var(--medium-font);
}

.nav-title-job {
  font-size: var(--normal-font);
}

header nav ul {
  display: flex;
  padding: 1.25rem 0;
  padding-left: 17%;
  width: 50%;
  gap: 4rem;
}

header nav ul li a {
  font-size: var(--normal-font);
}

.hero {
  position: relative;
  display: flex;
  width: 100%;
  height: 100dvh;
  padding-top: 13%;
  padding-left: 4.7rem;
  padding-right: 4.7rem;
  overflow: hidden;
}

.hero-first-half {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 4.7rem;
}

h2 {
  font-size: var(--big-font);
}

.hero-works-list {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  font-size: var(--normal-font);
}

.hero-second-half {
  display: flex;
  justify-content: center;
  padding-left: 17%;
  width: 50%;
  flex-direction: column;
  gap: 4.7rem;
}

.hero-second-half p {
  font-size: var(--normal-font);
}

img {
  position: absolute;
  pointer-events: none;
  left: 50%;
  transform: translateX(-50%);
  height: 63%;
  z-index: -2;
}

.link {
  position: relative;
  overflow: hidden;
  width: fit-content;
}

.upper-message {
  position: relative;
}

.lower-message {
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 768px) {
  .nav-title {
    width: auto;
  }

  header nav ul {
    display: none;
  }

  .hero {
    display: flex;
    padding-top: 23%;
    flex-direction: column;
  }

  .hero-guy {
    left: 50%;
    top: 80%;
    transform: translateX(-50%) translateY(-80%);
    height: 50%;
    z-index: -2;
    opacity: 0.7;
  }

  .hero-first-half {
    position: absolute;
    top: calc(50% - 4.7rem);
    width: calc(100% - 9.4rem);
    height: 50%;
  }

  .hero-second-half {
    position: absolute;
    padding-left: 0;
    top: 7.7rem;
    width: calc(100% - 9.4rem);
    height: 30%;
  }
}
